@page "/"
@using Microsoft.AspNetCore.Mvc
@using WebApp.Models
@inject IHttpClientFactory HttpClientFactory
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

@if (Grades == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>User Id</th>
            <th>Grade</th>
            <th>Subject</th>
            <th>Percentage</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var grade in Grades)
        {
            <tr>
                <td>@grade.id</td>
                <td>@grade.userId</td>
                <td>@grade.grade</td>
                <td>@grade.subject</td>
                <td>@grade.percentageInfluence</td>
                <td>@grade.dateAdded</td>
            </tr>
        }
        </tbody>
    </table>
}

@code 
{
    [BindProperty]
    public IEnumerable<GradeModel>? Grades { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var client = HttpClientFactory.CreateClient("WebApp.ServerAPI");
            var response = await client.GetAsync("/grades");
            if (response.IsSuccessStatusCode)
            {
                Grades = await client.GetFromJsonAsync<IEnumerable<GradeModel>>("/grades");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }
}